extends BasicLayout
block content
    section
      .about1
        .header מדריכים לטיול
      #about
        .content-box-lg
          .guide-container
            .row
              each guide in Guides
                .col-md-4
                  .about-item.text-center
                    i.fas.fa-map-marked-alt
                    h3 #{guide.GuideName}
                    hr
                    p שנות ניסיון בהדרכת טיולים: #{guide.Seniority} , מחיר לטיול : #{guide.trip_price} ש&quot;ח, טלפון ליצירת קשר : #{guide.phone}
                    p
                    | #{guide.about_you}
              //.col-md-4
              //  .about-item.text-center
              //    i.fas.fa-map-marked-alt
              //    h3 גל פניגשטיין
              //    hr
              //    p שנות ניסיון בהדרכת טיולים: 5 , מחיר לטיול : 20 ש&quot;ח, טלפון ליצירת קשר : 0504565432
              //    p
              //      | ראשון לציון העיר העברית הראשונה! עיר הולדתי שהיא חלק בלתי נפרד ממני, צמחה כפלא מהחולות
              //      | והפכה לעיר מודרנית משגשגת אחת הפופולארית בעולם התיירות. לא נחה לרגע, כל הזמן מתפתחת
              //      | ומתחדשת, מתייפה ונחשקת אבל ההסטוריה של מייסדייה וסיפורי תקומת המדינה לעד טמונים וחבויים
              //      | בפינותיה... שמי גל ואני מזמינה אתכם לבוא איתי לראות את היופי והקסם של העיר הזאת ולגלות
              //      | את הסיפורים הגדולים שמתחת לפני השטח...
              //      | גל הינה מדריכת טיולים בכל הארץ, ברגל, ברכב, באופני הרים, בזחילה (במערות), בדילוגים,
              //      | בקפיצה על רגל אחת ובכל אופן שתרצו !
              //.col-md-4
              //  .about-item.text-center
              //    i.fas.fa-map-marked-alt
              //    h3 עידו כהן
              //    hr
              //    p שנות ניסיון בהדרכת טיולים: 5 , מחיר לטיול : 20 ש&quot;ח, טלפון ליצירת קשר : 0504565432
              //    p
              //      | אני מדריכת טיולים מקצועית עם למעלה מ-5 שנות ניסיון בהובלת טיולים ברחבי הארץ. אני נלהב
              //      | לחלוק את הידע והאהבה שלי לטיולים עם אחרים, ושואף להפוך כל סיור לחוויה ייחודית ומהנה. בין
              //      | אם אתם מחפשים לחקור את רחובות העיר השוקקים או את נופי הטבע היפים, אני כאן כדי לעזור לכם
              //      | לתכנן את הטיול המושלם. אני מצפה להדריך אותך בהרפתקה הבאה שלך!
              //      .col-md-4
              //        .about-item.text-center
              //          i.fas.fa-map-marked-alt
              //          h3 דולב סולומון
              //          hr
              //          p שנות ניסיון בהדרכת טיולים: 5 , מחיר לטיול : 20 ש&quot;ח, טלפון ליצירת קשר : 0504565432
              //          p
              //            | היי לכולם, אני מוביל סיורים ב-5 השנים האחרונות ויש לי אהבה והערכה עמוקה להיסטוריה ולתרבות
              //            | של הארץ שלנו. אני נלהב לחלוק את הידע שלי עם אחרים ושואף להפוך כל סיור לחוויה מרתקת
              //            | ומעשירה. אני נרגש להיות המדריך שלך להרפתקה ומצפה להכיר כל אחד ואחת מכם.
              //      .col-md-4
              //        .about-item.text-center
              //          i.fas.fa-map-marked-alt
              //          h3 רועי גונן
              //          hr
              //          p שנות ניסיון בהדרכת טיולים: 5 , מחיר לטיול : 20 ש&quot;ח, טלפון ליצירת קשר : 0504565432
              //          p
              //            | אני מדריכת טיולים מקצועית עם למעלה מ-5 שנות ניסיון בהובלת טיולים ברחבי הארץ. אני נלהב
              //            | לחלוק את הידע והאהבה שלי לטיולים עם אחרים, ושואף להפוך כל סיור לחוויה ייחודית ומהנה. בין
              //            | אם אתם מחפשים לחקור את רחובות העיר השוקקים או את נופי הטבע היפים, אני כאן כדי לעזור לכם
              //            | לתכנן את הטיול המושלם. אני מצפה להדריך אותך בהרפתקה הבאה שלך!
              //            .col-md-4
              //              .about-item.text-center
              //                i.fas.fa-map-marked-alt
              //                h3 אדר שבתאי
              //                hr
              //                p שנות ניסיון בהדרכת טיולים: 5 , מחיר לטיול : 20 ש&quot;ח, טלפון ליצירת קשר : 0504565432
              //                p
              //                  | אני מדריכת טיולים מקצועית עם למעלה מ-5 שנות ניסיון בהובלת טיולים ברחבי הארץ. אני נלהב
              //                  | לחלוק את הידע והאהבה שלי לטיולים עם אחרים, ושואף להפוך כל סיור לחוויה ייחודית ומהנה. בין
              //                  | אם אתם מחפשים לחקור את רחובות העיר השוקקים או את נופי הטבע היפים, אני כאן כדי לעזור לכם
              //                  | לתכנן את הטיול המושלם. אני מצפה להדריך אותך בהרפתקה הבאה שלך!
